#panorama {
    width: 100%;
    height: 100vh !important;
    position: absolute;
}

.pnlm-hotspot.pnlm-sprite {
    background: rgba(255, 255, 255, 0.596);
    mask-image: url("../imgs/angle-up.svg");
    mask-repeat: no-repeat;
    mask-position: center center;
    -webkit-mask-image: url("../imgs/angle-up.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    width: 100px;
    height: 100px;
}
.pnlm-hotspot.pnlm-sprite.pnlm-info {
    background: rgba(255, 255, 255, 0.596);
    mask-image: url("../imgs/info.svg");
    -webkit-mask-image: url("../imgs/info.svg");
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.pnlm-load-button p {
	display: block;
	/* font-family: ""; */
	max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    color: #000;
    font-size: 1.6rem;  
}
.loaddiv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 100%;
    height: 100vh; */
    overflow-y: scroll;
    background-color:rgba(255, 255, 255, 0.39);
}

.pnlm-load-button {
	position: absolute;
	/* top: auto; */
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	/* padding: 20px; */
	background-color: transparent;
	border-radius: 3px;
	text-align: center;
	font-size: 20px;
	/* display: table; */
	color: #fff;
	/* cursor: pointer; */
	/* height: 100vh; */
	/* margin-left: auto; */
	/* margin-right: auto; */
	/* bottom: 0; */
	margin: 0 auto;
	/* height: max-content; */
	border: none;
	padding: 20px;
}

.modal-dialog {
    width: max-content;
    margin: 0;
}

#infotable {
    margin-bottom: 0;
}

.modal-body {
    padding: 0;
}

.host {
    position: absolute;
    right: 0;
    bottom: 1px;
    z-index: 5;
    border-radius: 3px;
}

.host p {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1rem;
}

.mustafa {
    width: 50px;    
    opacity: .8;
}
.creator { 
    position: absolute;
    bottom: 1px;
    z-index: 5;
    border-radius: 3px;
    color: #fff !important;
    padding: 0px 4px;
    background-color: rgba(0,0,0,.7);
    bottom: 6px;
    left: -2px; 
}
.creator a {
    color: #fff;
    font-size: 1rem;
}
.click_open {
    margin-top:20px;
    font-weight: bold;
    background-color: #000;
    color: #fff !important;
    display: inline-block;
    width: max-content;
    border-radius: .5rem;
    -webkit-animation: flickerAnimation 1s infinite;
     -moz-animation: flickerAnimation 1s infinite;
     -o-animation: flickerAnimation 1s infinite;
      animation: flickerAnimation 1s infinite;
}

.modal-content {
    background-color: transparent !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: none !important;
    color: #fff;
}

#artinfo span {
    font-weight: bold;
}
#artinfo {
    margin-top: 10px;
}

@media (min-width: 1200px) {
    .modal-dialog {
        width: 40% !important;
        margin: 0 auto;
    }
}


@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }